<nav class="navbar mod" >
  
    <div class="col-sm-6 mod" style = " display:flex; align-items:center;">
      <!-- <div class="col-sm-1 mod"></div>
        <h4 class="col-sm-11">App Store Connect&nbsp;
            <div class="dropdown">
              <span class="brand"> My Apps<span class="caret"></span> </span>
              <div class="dropdown-content">
                <p>Hello World!</p>
              </div>
            </div>
        </h4> -->
      <mat-card-title style="font-size:18px; ">&nbsp;&nbsp;&nbsp;&nbsp;
          <strong>Samikhsa&nbsp;</strong>
      </mat-card-title>

        <div class="dropdown">
          <span ><i class="material-icons">apps</i></span>
          <div class="dropdown-content col-sm-12">
            <div class="col-sm-3 mod" >
              <a href = "#">
                <div class="col-sm-12 mod " style="display:flex; flex-direction :column; align-items: center;">
                  <i class="fab fa-app-store-ios navicon"  ></i>
                  <div class="active">Apps</div>
                </div>
              </a>
            </div>
            
          </div>
        </div>
    </div>
      
    <!-- <div class="col-sm-4 mod ">
       <mat-card-title style="font-size:18px; color:gray; text-align: center;" >
        Sikhshalocham Samikhsa 
          <mat-icon svgIcon="thumbs-up" style="font-size:29px; color: gray;">
          </mat-icon>
      </mat-card-title> 
    </div> -->
      
    <div class="col-sm-6 user">
      <div class="col-sm-3 mod "></div>
      <div class="col-sm-9 mod" style="padding-top: 5px;">
        <div class="col-sm-11 mod" >
          <div class="dropdown " style="float:right;    line-height: 2px;">
            <span class="brand ">
              <mat-card-subtitle>
              <span class="brand user">Bachi AlamSetthy&nbsp;&nbsp;
                <mat-icon svgIcon="thumbs-up" id="usercaret" style="font-size:19px;">
                </mat-icon><br>
              </span>
              </mat-card-subtitle>
              <mat-card-subtitle style="font-size:13px;">
                  &nbsp;&nbsp;Bachi AlamSetthy 
              </mat-card-subtitle>
            </span>
          <div class="dropdown-content" style="left: -200px; min-width: 300px;min-height: 200px; top:35px;">
                <!-- <mat-card-subtitle><span class="brand">Bachi AlamSetthy<span class= "caret"></span></span> </mat-card-subtitle>
                <mat-card-subtitle>&nbsp;Bachi AlamSetthy </mat-card-subtitle> -->
          </div>
        </div>    
      </div>
        <div class="col-sm-1 "><mat-icon class = "cla" svgIcon="help" id="helpicon"></mat-icon></div>
      </div>
    </div>

</nav>
