<mat-tab-group>
  <mat-tab label="Criteria">
    <div class="">
        <mat-tab-group style="padding: 15px;">
            <mat-tab label="Add Criteria">
                        <form [formGroup]="myForm" class="col-xs-6" style="margin: 20px;" (ngSubmit)="onSubmit(myForm)">
                            <mat-card>  
                          <mat-form-field class="col-xs-12">
                              <input matInput placeholder="Criteria Name" formControlName="criteriaName">
                            </mat-form-field>
                            <mat-form-field class="col-xs-12">
                              <input matInput placeholder="l1" formControlName="l1">
                            </mat-form-field>
                            <mat-form-field class="col-xs-12">
                              <input matInput placeholder="l2" formControlName="l2">
                            </mat-form-field>
                            <mat-form-field class="col-xs-12">
                              <input matInput placeholder="l3" formControlName="l3">
                            </mat-form-field>
                            <mat-form-field class="col-xs-12">
                              <input matInput placeholder="l4" formControlName="l4">
                            </mat-form-field>
                            <button class="btn btn-primary"> Submit </button>
                          </mat-card>
                          </form>
                   </mat-tab>
            <mat-tab label="View Criteria" style="padding: 15px;">
                <div style="margin: 20px;">
              <mat-card> 
               
              <ul>
                    <li *ngFor="let el of criteria">
                      {{ el.criteriaName }}
                    </li>
                  </ul>
                 
                </mat-card>
              </div>
            </mat-tab>
        </mat-tab-group>
    </div>
  </mat-tab>
  <mat-tab label="Solutions">
      <mat-tab-group style="padding: 15px;">
          <mat-tab label="Add Solutions">
              <form [formGroup]="solutionForm"  style="margin: 20px;" class="col-xs-6" (ngSubmit)="solutionSubmit(solutionForm)">
                  <mat-card>  
                <mat-form-field class="col-xs-12">
                    <input matInput placeholder="Name" formControlName="name">
                  </mat-form-field>
                  <mat-form-field class="col-xs-12">
                    <mat-select placeholder="Select Entity" formControlName="selectEntity" [(ngModel)]="selectedEntity">
                      <mat-option *ngFor="let ele of entitys" [value]="ele">
                        {{ele}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            
                  <mat-form-field class="col-xs-12">
                    <input matInput placeholder="Description" formControlName="description">
                  </mat-form-field>
                  <mat-form-field class="col-xs-12">
                    <input matInput placeholder="Status" formControlName="status">
                  </mat-form-field>
            
                  <mat-form-field class="col-xs-12">
                    <input matInput placeholder="Concepts" formControlName="concepts">
                  </mat-form-field>
            
                  <mat-form-field class="col-xs-12">
                    <input matInput placeholder="Keywords" formControlName="keywords">
                  </mat-form-field>
            
                  <mat-radio-group aria-label="isReusable" formControlName="isReusable" class="col-xs-12">
                    <mat-radio-button value="yes">Yes</mat-radio-button>
                    <mat-radio-button value="no">No</mat-radio-button>
                  </mat-radio-group>
                  <button type="submit" class="btn btn-primary">Submit</button>
               </mat-card>
                </form>
          </mat-tab>
          <mat-tab label="View Solutions">
              <div style="margin: 20px;">
              <mat-card> 
                
                  <h4>List of Solutions Available</h4>
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>description</th>
                        <th>status</th>
                        <th>Re-usable</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let el of solutions">
                        <td>{{ el.name }}</td>
                        <td>{{ el.description }}</td>
                        <td>{{ el.status }}</td>
                        <td>{{ el.isReusable }}</td>
                      </tr>
                    </tbody>
                  </table> 
                
              </mat-card>
            </div>
          </mat-tab>
      </mat-tab-group>

    
  </mat-tab>
  <mat-tab label="Entity">

      <mat-tab-group style="padding: 15px;">
          <mat-tab label="Add Entity">
              <div class="col-sm-6" style="padding:20px;">
                  <form [formGroup]="addEntityForm" (ngSubmit)="addFormSubmit(addEntityForm)">
            
                    <mat-card>
                    <mat-form-field class="col-xs-12">
                      <input matInput placeholder="Entity Name" formControlName="entityName">
                    </mat-form-field>
            
                    <mat-form-field class="col-xs-12">
                      <input matInput placeholder="District Id" formControlName="districtId">
                    </mat-form-field>
                    <mat-form-field class="col-xs-12">
                      <input matInput placeholder="District Name" formControlName="districtName">
                    </mat-form-field>
            
                    <mat-form-field class="col-xs-12">
                      <input matInput placeholder="Zone Id" formControlName="zoneId">
                    </mat-form-field>
                    <mat-form-field class="col-xs-12">
                      <input matInput placeholder="Name" formControlName="name">
                    </mat-form-field>
                    <mat-form-field class="col-xs-12">
                      <input matInput placeholder="Types" formControlName="types">
                    </mat-form-field>
                    <mat-form-field class="col-xs-12">
                      <input matInput placeholder="Address Line1" formControlName="addressLine1">
                    </mat-form-field>
                    <mat-form-field class="col-xs-12">
                      <input matInput placeholder="City" formControlName="city">
                    </mat-form-field>
                    <mat-form-field class="col-xs-12">
                      <input matInput placeholder="Pincode" formControlName="pincode">
                    </mat-form-field>
                    <mat-form-field class="col-xs-12">
                      <input matInput placeholder="State" formControlName="state">
                    </mat-form-field>
            
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </mat-card>
                  </form>
                </div>
            

    </mat-tab>
    <mat-tab label="View Entitys">
        <div class="col-sm-12" style="padding:20px;">
      <mat-card>
         
              <ul>
                <li *ngFor="let el of entitys">
                  {{ el }}
                </li>
              </ul>
            
      </mat-card>
    </div>
      </mat-tab>
  </mat-tab-group>

    
  </mat-tab>
  <mat-tab label="Questions"> 
      <div class="form-group" >
          <label for="sel1">Select Criteria:</label>
          <select class="form-control" id="sel1" [(ngModel)]="selectedCriteriaOfqtn">
            <option *ngFor="let ele of criteria" value="{{ ele.criteriaName }}">{{ ele.criteriaName }}</option>
          </select>
        </div>
        <form-builder  [form]="form" (change)="onChange($event)"></form-builder>
        <div  class="btn btn-primary pull-right" (click)="saveQuestions()">Save Questions</div>  
  </mat-tab>
  <mat-tab label="Map"> 
      <div class="col-sm-6" style="padding:20px">
          <!-- <mat-card> -->

          <div class="form-group" class="col-sm-12" >
            <label for="sel1">Select solutions</label>
            <select class="form-control col-sm-10" id="sel1" [(ngModel)]="selectedSolution">
              <option *ngFor="let item of solutions">{{ item.name }}</option>
    
            </select>
          </div>
          <div *ngIf="criteria.length > 0" style="padding:20px;padding-left: 2px;">
            <div class="col-sm-11" style="padding-left: 0px;">
              <label for="sel1">Select Criteria</label>
              <angular2-multiselect [data]="criteria" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
                (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)"
                (onDeSelectAll)="onDeSelectAll($event)">
                <c-item>
                  <ng-template let-item="item">
                    <label style="color: #333;min-width: 150px;">{{item.criteriaName}}</label>
                    <!-- <img [src]="item.image" style="width: 30px; border: 1px solid #efefef;margin-right: 20px;" /> -->
                    <!-- <label>Capital - {{item.capital}}</label> -->
                  </ng-template>
                </c-item>
              </angular2-multiselect>
            </div>
          </div>
        <!-- </mat-card> -->
        </div>

  </mat-tab>
</mat-tab-group>

<style>
  .dropItem {
    background: #fff;
    color: #333;
    width: 200px;
    height: 200px;
    border: 1px solid #ccc
  }
</style>
<div class="row" style="display: none"> 

  <h3 class="col-sm-12 text-center"> Mapping </h3>

  <div class="col-sm-3">
    <ul class="list-group">
      <li mwlDraggable (dragEnd)="dragEnd($event,'criteria')"
        class="list-group-item d-flex justify-content-between align-items-center">
        Criteria <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
          +
        </button>
        <span class="badge badge-primary badge-pill" (click)="viewData('criteria')"> View - {{ criteria.length }}</span>
      </li>
      <li mwlDraggable (dragEnd)="dragEnd($event,'Solutions')"
        class="list-group-item d-flex justify-content-between align-items-center">
        Solutions
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#solutionModel">
          +
        </button>

        <span class="badge badge-primary badge-pill" (click)="viewData('solutions')"> View -
          {{ solutions.length }}</span>
      </li>

      <li class="list-group-item d-flex justify-content-between align-items-center">
        Add Entity
        <button type="button" class="btn btn-primary" (click)="AddEntity()">
          +
        </button>
        <span class="badge badge-primary badge-pill" (click)="viewData('entitys')">View - {{ entitys.length }}</span>
      </li>

      <li mwlDraggable (dragEnd)="dragEnd($event,'Questions')"
        class="list-group-item d-flex justify-content-between align-items-center" (click)="AddQuestions()">
        Add questions
        <span class="badge badge-primary badge-pill">View - 1</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center" (click)="mapData()">
        Map
        <span class="badge badge-primary badge-pill">View - 1</span>
      </li>
    </ul>
  </div>
  <div id="dropArea" mwlDroppable (drop)="this.droppedData = $event.dropData" class="col-sm-9"
    style="border:1px solid #ccc">


    <div class="col-sm-12" *ngIf="viewBlock=='solutions'" style="padding:20px;">
      
    </div>
    <div class="col-sm-12" *ngIf="viewBlock=='criteria'" style="padding:20px;">
     
    </div>
    
  </div>
</div>
<div class="col-sm-12">

  <div class="btn btn-primary pull-right">Save</div>
  <div class="btn btn-primary pull-right" (click)="showJson()">Show JSON </div>
</div>

<div class="col-sm-12" *ngIf="showJsonInfo">
  <div class="well jsonviewer">
    <pre><code class="language-json" >{{ criteriaString }}</code> </pre>
    <pre id="json"><code class="language-json"> {{ solutionString }}</code></pre>
  </div>
</div>

<div class="well jsonviewer" *ngIf="showQuestions">
  <pre id="json"><code class="language-json" #json></code></pre>
</div>


<div style="width: 46%;
  margin: auto;">
  <!-- <formio *ngIf="showQuestions" [form]="Data"></formio> -->

</div>

<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add Criteria</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
          <div class="form-group">
            <label for="criteriaName">Criteria Name</label>
            <input type="text" class="form-control" formControlName="criteriaName">
          </div>
          <div class="form-group">
            <label for="l1">L1</label>
            <input type="text" class="form-control" formControlName="l1">
          </div>
          <div class="form-group">
            <label for="l2">L2</label>
            <input type="text" class="form-control" formControlName="l2">
          </div>
          <div class="form-group">
            <label for="l3">L3</label>
            <input type="text" class="form-control" formControlName="l3">
          </div>
          <div class="form-group">
            <label for="l4">L4</label>
            <input type="text" class="form-control" formControlName="l4">
          </div>


          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<div class="modal" id="solutionModel">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add Solution</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">

      </div>

      <!-- Modal footer -->
      <div class="modal-footer">

      </div>

    </div>
  </div>
</div>

<router-outlet></router-outlet>