<div class="_flex-box _justify-content-center wrapper">

  <div class="_full-width ">
    <!-- <app-parent-heading [genericHeading]="headings" [showControl]="true" [schoolNameDivider]= "false"></app-parent-heading> -->

    <mat-card class="card-block custom-card-block" *ngIf="!showCreate">
      <div class="row margin-5-perc">
        <div class="col-sm-4 ">
          <div class="col-sm-12">
            <h4 class="margin-top-0"> <i class="material-icons">create</i>Create Observations</h4>
            <div class="col-sm-12 desc">

              Description goes here ....
            </div>
            <button class="m-top-10" mat-flat-button color="primary" (click)="create()">Create</button>
            <!-- <div  class="btn btn-primary" style="margin:10px;text-align:center" (click)="create()" >  Create </div> -->
          </div>

        </div>
        <div class="col-sm-4">
          <div class="col-sm-12">
            <h4 class="margin-top-0"><i class="material-icons">create</i>Create Institutional Assessments</h4>
            <div class="col-sm-12 desc">

              Description goes here ....
            </div>

            <button class="m-top-10" mat-flat-button color="primary">Create</button>
            <!-- <div class="btn btn-primary" style="margin:10px;text-align:center">Create</div> -->
          </div>

        </div>
        <div class="col-sm-4">
          <div class="col-sm-12">
            <h4 class="margin-top-0"><i class="material-icons">create</i>Create Individual Assessments</h4>
            <div class="col-sm-12 desc">

              Description goes here ....
            </div>

            <button class="m-top-10" mat-flat-button color="primary">Create</button>
            <!-- <div  class="btn btn-primary" style="margin:10px;text-align:center">Create</div> -->
          </div>

        </div>

      </div>

    </mat-card>

    <div class="row" *ngIf="showCreate">
      <mat-tab-group [selectedIndex]="selectedIndex" (selectedTabChange)="tabChanged($event)"
        class="mat-tab-group mat-primary">
        <mat-tab label="Details">
          <!-- <mat-tab-group style="padding: 15px;"> -->


          <form [formGroup]="solutionForm" class="col-xs-12 card-content" (ngSubmit)="solutionSubmit(solutionForm)">
            <mat-card class="card-block">
              <mat-form-field class="col-xs-12">
                <input matInput placeholder="Solution Name" formControlName="solutionName" [(ngModel)]="draftSolutionName">

              </mat-form-field>
              <div *ngIf="solFormSubmitted && solValid.solutionName.errors" class="col-sm-12 error-block">
                <div *ngIf="solValid.solutionName.errors.required">Solution Name is required</div>
             </div>
              
              <!-- <mat-form-field class="col-xs-12">
                  <mat-select placeholder="Select Entity" formControlName="selectEntity" [(ngModel)]="selectedEntity">
                    <mat-option *ngFor="let ele of entitys" [value]="ele">
                      {{ele}}
                    </mat-option>
                  </mat-select>
                </mat-form-field> -->

              <mat-form-field class="col-xs-12">
                <input matInput placeholder="Description" formControlName="solutionDescription" [(ngModel)]="draftsolutionDescription">
              </mat-form-field>

              <!-- <mat-form-field class="col-xs-12">
                  <input matInput placeholder="Status" formControlName="status">
                </mat-form-field> -->

              <!-- <mat-form-field class="col-xs-12">
                  <input matInput placeholder="Concepts" formControlName="concepts">
                </mat-form-field> -->

              <!-- <mat-form-field class="col-xs-12">
                  <input matInput placeholder="Keywords" formControlName="keywords">
                </mat-form-field> -->

              <div class="col-sm-12 add-keyword-block">
                <tag-input [(ngModel)]='keyWordItems' [secondaryPlaceholder]="'Add Keywords'"
                  [placeholder]="'Add Keywords'" formControlName="solutionKeywords"></tag-input>
              </div>

              <div class="m-top-10">
                <mat-form-field class="col-xs-12 ">
                  <mat-label>Select Language</mat-label>
                  <select matNativeControl required formControlName="solutionLanguage"  [(ngModel)]="draftSolutionLanguage">
                    <option *ngFor="let item of languageArr" [value]="item"> {{ item }} </option>
                    <!-- <option [value]="English">English</option>  
                    <option [value]="Hindi">Hindi</option> -->
                  </select>
                  <div *ngIf="solFormSubmitted && solValid.solutionLanguage.errors" class="col-sm-12 error-block">
                    <div *ngIf="solValid.solutionLanguage.errors.required">Language is required</div>
                 </div>

                </mat-form-field>
               
              </div>


              <div class="m-top-10">
              <mat-form-field class="col-xs-12">
                <mat-label>Entity Type</mat-label>
                <select matNativeControl required formControlName="solutionEntityType" [(ngModel)]="draftSolutionEntityType" >
                  <option *ngFor="let item of entitys[0]" [value]="item._id" >{{ item.name }} </option>
                </select>
               
              </mat-form-field>
              <div *ngIf="solFormSubmitted && solValid.solutionEntityType.errors" class="col-sm-12 error-block">
                <div *ngIf="solValid.solutionEntityType.errors.required">Entity Type is required</div>
             </div>
              </div>


              <!-- <div class="col-sm-12 padd-15">Reusable ?</div>
        <mat-radio-group aria-label="isReusable" formControlName="isReusable" class="col-xs-12">
          <mat-radio-button value="yes">Yes</mat-radio-button>
          <mat-radio-button value="no">No</mat-radio-button>
        </mat-radio-group> -->

              <!-- <div class="col-sm-12">
                <button style="float: right" (click)="nextStep()"> Next </button>
             </div> -->
              <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
            </mat-card>
          </form>
        </mat-tab>
        <mat-tab label="Criteria">
          <div class="">

            <form [formGroup]="criteriaForm" *ngIf="showAddCriteria" class="col-xs-12 card-content"
              (ngSubmit)="onSubmit(criteriaForm)">
              <mat-card class="card-block">
                <mat-form-field class="col-xs-12">
                  <input matInput placeholder="Criteria Name" [(ngModel)]="criteriaNameupdate" formControlName="criteriaName">
                  <!-- <span *ngIf="(criteriaName.dirty || criteriaName.touched) && criteriaName.invalid && criteriaName.errors.required">Criteria is required</span> -->
                </mat-form-field>
               
                <div *ngIf="criteriaSubmitted && critForm.criteriaName.errors" class="col-sm-12 error-block">
                  <div *ngIf="critForm.criteriaName.errors.required">Criteria Name is required</div>
               </div>

                <mat-form-field class="col-xs-12">
                  <input matInput placeholder="Description" [(ngModel)]="criteriaDescriptionUpdate" formControlName="description">
                </mat-form-field>
                <div *ngIf="criteriaSubmitted && critForm.description.errors" class="col-sm-12 error-block">
                  <div *ngIf="critForm.description.errors.required">Description is required</div>
               </div>

                
                <div class="col-sm-12"> 
                  <button mat-raised-button class="margin-right col-sm-1" (click)="closeAddOrUpdate()"> Cancel</button>
                  <button mat-raised-button color="primary" class="col-sm-1"> {{ criteriaAddorUpdate }} </button></div>
              </mat-card>
            </form>

            <div class="col-xs-12 card-content">
              <mat-card class="card-block">
                <div class="col-sm-12 add-criteria pull-right" (click)="AddCriteria()">
                 
                  <span class="col-sm-12 add-button"><i class="material-icons pull-right plus-icon"> add </i> Add Criteria</span>
                </div>
                <h4>List of Criteria</h4>
                <div class="col-sm-12 mat-elevation-z8">
                  <mat-table #table [dataSource]="criteriaList" class="" matSort>

                    <ng-container matColumnDef="no">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
                      <mat-cell *matCellDef="let element;let i = index;"> {{i+1}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="name" mat-sort-header>
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Criteria Name </mat-header-cell>
                      <mat-cell *matCellDef="let element"> 
                        
                        <!-- {{element.name}}  -->

                        <!-- <mat-cell *matCellDef="let element"> -->
                          <mat-form-field floatLabel="never" class="inline-edit" title="edit">
                            <input matInput placeholder="Name" [value]="element.name" [(ngModel)]="element.name" (mouseout)="criteriaUpdate(element)">
                          </mat-form-field>
                        

                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="description">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
                      <mat-cell *matCellDef="let element">
                         <!-- {{element.description}} -->
                      
                          <mat-form-field floatLabel="never" class="inline-edit" title="edit">
                              <input matInput  placeholder="Description" [value]="element.description" [(ngModel)]="element.description" (mouseout)="criteriaUpdate(element)">
                            </mat-form-field>
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="action">
                      <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
                      <mat-cell *matCellDef="let element"> <span class="pull-right">
                        <!-- <i title="Edit" class="material-icons cursor-pointer" (click)="editCriteria(element)">edit</i> -->
                        <i class="material-icons cursor-pointer" title="Delete" (click)="deleteDraftCriteria(element)">delete</i></span> </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;">
                    </mat-row>
                  </mat-table>
                  <mat-paginator [showFirstLastButtons]="true" [length]="this.criteriaListCount" #paginator
                                 [pageSize]="criteriaListPageSize"
                                 [pageSizeOptions]="[5,10,20,50,100]"  (page)="onPaginateChange($event)">
                  </mat-paginator>
                </div>
              </mat-card>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Questions">

          <mat-card style="    float: left;
    width: 98%;
    margin: 15px;">
            <div class="form-group" class="col-sm-6" >
              <!-- <label for="sel1">Select Criteria:</label> -->
              <!-- <select class="form-control" id="sel1" [(ngModel)]="selectedCriteriaOfqtn">
            <option *ngFor="let ele of criteria" value="{{ ele.criteriaName }}">{{ ele.criteriaName }}</option>
          </select> -->

              <!-- <mat-form-field>
          <mat-label>Select Criteria</mat-label>
          <mat-select>
            <mat-option *ngFor="let ele of criteria" [value]="ele.criteriaName">
              {{ele.criteriaName }}
            </mat-option>
          </mat-select>
        </mat-form-field> -->

            </div>
            <div class="col-sm-12" style="padding:0px">
              <!-- <form-builder class="col-sm-12" [form]="form" (change)="onChange($event)" options="formioOptions">
              </form-builder> -->

              <form [formGroup]="selectCriteriaForm">

            
              <mat-form-field class="col-sm-4">
                <mat-label>Select Criteria</mat-label>
                <select matNativeControl [(ngModel)]="selectedCriteriaOfqtn" (ngModelChange)="criteriaChange()" formControlName="selectedCriteriaOfqtn" >
                  <option *ngFor="let ele of ArrayOfCriteria" [ngValue]="ele"> {{ ele.name }} </option>
                </select>
                
                <!-- <div *ngIf="solFormSubmitted && solValid.solutionLanguage.errors" class="col-sm-12 error-block">
                  <div *ngIf="solValid.solutionLanguage.errors.required">Language is required</div> -->
               <!-- </div> -->

              </mat-form-field>
              <div *ngIf="questionSubmit && !selectedCriteriaOfqtn" class="col-sm-12 error-block">
                <div >Criteria is required</div>
              </div>

              <mat-form-field class="col-sm-4">
                <mat-label>Page Number</mat-label>
                <select matNativeControl [(ngModel)]="selectedpageNumber" (ngModelChange)="pageChange()" formControlName="selectedpagenumber">
                  <option *ngFor="let page of totalpages" [ngValue]="page.value"> {{ page.label }} </option>
                </select>
              </mat-form-field>
              
            </form>

              <lib-dynamic-form-builder [events]="eventsSubject.asObservable()" (questionTrigger)="eventFromChild($event)" ></lib-dynamic-form-builder>
            </div>



            <!-- <div id="fb-editor"></div> -->

          </mat-card>
          <!-- <div  class="btn btn-primary pull-right" (click)="saveQuestions()">Save Questions</div>   -->


        </mat-tab>
        <mat-tab label="Preview">
            <mat-card style="float: left;
            width: 98%;
            margin: 15px;height: 300px;">
              Coming Soon ..
            </mat-card>
        </mat-tab>
        <!-- <mat-tab label="Map"> 
      <div class="col-sm-6" style="padding:20px">
          <div class="form-group" class="col-sm-12" >
            <label for="sel1">Select solutions</label>
            <select class="form-control col-sm-10" id="sel1" [(ngModel)]="selectedSolution">
              <option *ngFor="let item of solutions">{{ item.name }}</option>
    
            </select>
          </div>
          <div *ngIf="criteria.length > 0" style="padding:20px;padding-left: 20px;padding-top:40px;">
            <div class="col-sm-11" style="padding-left: 0px;">
              <label for="sel1">Select Criteria</label>
              <angular2-multiselect [data]="criteria" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
                (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)"
                (onDeSelectAll)="onDeSelectAll($event)">
                <c-item>
                  <ng-template let-item="item">
                    <label style="color: #333;min-width: 150px;">{{item.criteriaName}}</label>
                  </ng-template>
                </c-item>
              </angular2-multiselect>
            </div>
          </div>
        </div>
  </mat-tab> -->
      </mat-tab-group>

      <div class="col-sm-12 text-center">

        <!-- <div class="btn btn-primary pull-right">Save</div> -->
        <!-- <div class="btn btn-primary pull-right" (click)="showJson()">Show JSON </div> -->
        <button mat-flat-button color="primary" *ngIf="saveBtn" style="margin-right:10px;" (click)="saveData()">
          Save
        </button>
        <button mat-flat-button color="primary" *ngIf="previous" (click)="previousStep()" style="margin-right:10px;">
          Previous
        </button>
        <button mat-flat-button color="primary" *ngIf="next" (click)="nextStep()">
          {{ nextBtn }}
        </button>
      </div>


      <div class="col-sm-12" *ngIf="showJsonInfo">
        <div class="well jsonviewer">
          <pre><code class="language-json" >{{ criteriaString }}</code> </pre>
          <pre id="json"><code class="language-json"> {{ solutionString }}</code></pre>
        </div>
      </div>

      <div class="well jsonviewer" *ngIf="showQuestions">
        <pre id="json"><code class="language-json" #json></code></pre>
      </div>

      <div>
        <!-- <formio *ngIf="showQuestions" [form]="Data"></formio> -->

      </div>
    </div>
  </div>
</div>