@import '../../../../assets/scss/varibles.scss';
.flex-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.description{
    color:$grey-color;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 110px;
    text-align: center;
}
.dashBoardIcon{
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 20px;
    margin : 0px 20px;
}
.margin-top{
margin-top:20px;
}
.folderIcon{
    font-size: 70px;
    color:$primary-color;
    display: flex;
    align-items: center;
}
.wrapper{
    padding:0px 20px;
}
.box{
    width: 100%;
    display: flex;
    justify-content: center;
}
.iconBox{
    width: 100%;
    background-image: linear-gradient(to top, $light-grey 10%, $white-color 90%);
    height: 120px;
    width: 120px;
    border: 1px solid $grey-color;
    border-radius: 15px;
}

.h3 {
    margin-top: 0px ;
}
.desc {
    border: 1px solid #ccc;padding:10px;height: 100px
}

.list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #ffffff;
    border: 1px solid transparent;
    color: #333 !important;
    background-color: white;
    border: 1px solid #ccc;
    padding: 31px;
    min-width: 219px;

}

.card-header {
    margin-bottom: 10px !important;
}
.dropItem {
    background:#fff;color:#333;width:200px;height:200px;border:1px solid #ccc
}
.pull-right {
    float:right;
}
.pull-left {
    float:left;
}
.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
  .dropItem {
    background: #fff;
    color: #333;
    width: 200px;
    height: 200px;
    border: 1px solid #ccc
  }
  .padd-15 {
      padding:15px;
  }
  .card-content {
    margin:15px 0px 15px 0px
  }

  .card-block {
    float: left;
    width:100%
  }

  .add-criteria {
    font-size: 40px;
    padding: 17px;
    color: royalblue;
    cursor: pointer;
  }
  .add-button {
    text-align: right;
    padding: 0px;
    color: royalblue;
    font-size: 18px;
  }
  .m-top-10 {
      margin-top: 15px;
  }
  .material-icons {
      font-size: 15px;
      padding: 8px;
      vertical-align: middle;
  }
  .plus-icon {
    font-size: 27px;
  }
  .custom-card-block {
    margin-top:15px;
  }
  .margin-5-perc {
    margin-top: 5%
  }
  .margin-top-0 {
      margin-top: 0px;
      margin-bottom: 0px;
  }
  .add-keyword-block {
    margin-bottom: 10px;
  }
  .cursor-pointer {
      cursor: pointer;
  }
  .margin-right {
    margin-right: 10px;
  }
  .toobar-spacer {
    flex: 1 1 auto;
  }

  .custom-toolbar {
    background: #fff;
    min-height: 90px;
  }

  

  .add-criteria-icon {
     cursor: pointer;
    
  }

  .add-criteria-lable {
    font-size: 19px;
    cursor: pointer;
    color: royalblue;
  }

  button.m-top-10.mat-flat-button.mat-primary {
    cursor: pointer;
  }
  .comingsoon-block {
    float: left;
            width: 98%;
            margin: 15px;height: 300px;
  }

  .mtable {
    margin-bottom: 40px;
  }

  .mat-column-action {
   text-align: right;
   justify-content: center;
  }

  .mat-column-description{
    flex: 0 0 40% !important;
   }
   .mat-form-field-description {
     width: 100%;
   }
 

  
  
  
 