<div class="_flex-box _justify-content-center wrapper">

  <div class="_full-width ">
      <!-- <app-parent-heading [genericHeading]="headings" [showControl]="true" [schoolNameDivider]= "false"></app-parent-heading> -->

<mat-card class="card-block" *ngIf="!showCreate" style="margin-top:15px;">  
  <div class="row" style="margin-top: 5%">


    <div class="col-sm-4 ">
        <div class="col-sm-12">
           
              <h3 style=" margin-top: 0px;"> <i class="material-icons">create</i>Create Observations</h3>
              <div class="col-sm-12 desc">
    
                Description goes here ....
                </div>
                <div  class="btn btn-primary" style="margin:10px;text-align:center" (click)="create()" >  Create </div>
              </div>

    </div>
    <div class="col-sm-4">
        <div class="col-sm-12">
              <h3 style=" margin-top: 0px;"><i class="material-icons">create</i>Create Institutional</h3>
              <div class="col-sm-12 desc" >
    
                Description goes here ....
                </div>

                <div class="btn btn-primary" style="margin:10px;text-align:center">Create</div>
              </div>

    </div>
    <div class="col-sm-4">
        <div class="col-sm-12">
              <h3 style=" margin-top: 0px;"><i class="material-icons">create</i>Create Individual</h3>
              <div class="col-sm-12 desc" >
    
                Description goes here ....
                </div>

                <div  class="btn btn-primary" style="margin:10px;text-align:center">Create</div>
              </div>

    </div>

  </div>

  </mat-card>

  <div class="row" *ngIf="showCreate">
<mat-tab-group  [selectedIndex]="selectedIndex" (selectedTabChange)="tabChanged($event)"
  class="mat-tab-group mat-primary">
  <mat-tab label="Details">
    <!-- <mat-tab-group style="padding: 15px;"> -->


    <form [formGroup]="solutionForm" class="col-xs-12 card-content" (ngSubmit)="solutionSubmit(solutionForm)">
      <mat-card class="card-block">
        <mat-form-field class="col-xs-12">
          <input matInput placeholder="Solution Name" formControlName="name">
        </mat-form-field>
        <!-- <mat-form-field class="col-xs-12">
                  <mat-select placeholder="Select Entity" formControlName="selectEntity" [(ngModel)]="selectedEntity">
                    <mat-option *ngFor="let ele of entitys" [value]="ele">
                      {{ele}}
                    </mat-option>
                  </mat-select>
                </mat-form-field> -->

        <mat-form-field class="col-xs-12">
          <input matInput placeholder="Description" formControlName="description">
        </mat-form-field>

        <!-- <mat-form-field class="col-xs-12">
                  <input matInput placeholder="Status" formControlName="status">
                </mat-form-field> -->

        <!-- <mat-form-field class="col-xs-12">
                  <input matInput placeholder="Concepts" formControlName="concepts">
                </mat-form-field> -->

        <!-- <mat-form-field class="col-xs-12">
                  <input matInput placeholder="Keywords" formControlName="keywords">
                </mat-form-field> -->

        <div class="col-sm-12">
          <tag-input [(ngModel)]='keyWordItems' [secondaryPlaceholder]="'Add Keywords'" [placeholder]="'Add Keywords'"
            formControlName="keywords"></tag-input>
        </div>

        <div class="col-sm-12 padd-15">Reusable ?</div>
        <mat-radio-group aria-label="isReusable" formControlName="isReusable" class="col-xs-12">
          <mat-radio-button value="yes">Yes</mat-radio-button>
          <mat-radio-button value="no">No</mat-radio-button>
        </mat-radio-group>

        <!-- <div class="col-sm-12">
                <button style="float: right" (click)="nextStep()"> Next </button>
             </div> -->
        <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
      </mat-card>
    </form>
    <!-- <mat-tab label="Solutions Details">
                
            </mat-tab> -->
    <!-- <mat-tab label="View Solutions">
                <div style="margin: 20px;">
                <mat-card> 
                  
                    <h4>List of Solutions Available</h4>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>description</th>
                          <th>status</th>
                          <th>Re-usable</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let el of solutions">
                          <td>{{ el.name }}</td>
                          <td>{{ el.description }}</td>
                          <td>{{ el.status }}</td>
                          <td>{{ el.isReusable }}</td>
                        </tr>
                      </tbody>
                    </table> 
                  
                </mat-card>
              </div>
            </mat-tab> -->
    <!-- </mat-tab-group> -->
  </mat-tab>
  <mat-tab label="Criteria">
    <div class="">

      <form [formGroup]="myForm" *ngIf="showAddCriteria" class="col-xs-12 card-content" (ngSubmit)="onSubmit(myForm)">
        <mat-card class="card-block">
          <mat-form-field class="col-xs-12">
            <input matInput placeholder="Criteria Name" formControlName="criteriaName">
          </mat-form-field>
          <mat-form-field class="col-xs-12">
            <input matInput placeholder="Description" formControlName="description">
          </mat-form-field>
          <!-- <mat-form-field class="col-xs-12">
              <input matInput placeholder="l1" formControlName="l1">
            </mat-form-field>
            <mat-form-field class="col-xs-12">
              <input matInput placeholder="l2" formControlName="l2">
            </mat-form-field>
            <mat-form-field class="col-xs-12">
              <input matInput placeholder="l3" formControlName="l3">
            </mat-form-field>
            <mat-form-field class="col-xs-12">
              <input matInput placeholder="l4" formControlName="l4">
            </mat-form-field> -->
          <div class="col-sm-12"> <button class="btn btn-primary"> Submit </button></div>
        </mat-card>
      </form>

      <div class="col-xs-12 card-content">
        <mat-card class="card-block">

          <!-- <ul>
          <li *ngFor="let el of criteria">
            {{ el.criteriaName }}
          </li>
        </ul> -->

          <div class="col-sm-2 add-criteria pull-right" (click)="AddCriteria()">
            <i class="material-icons pull-right" >
              add
            </i>
           <div class="col-sm-12 add-button"> Add Criteria</div>            
          </div>


          <h4>List of Criteria</h4>
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Criteria </th>
                <th>Description</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let el of criteria">
                <td>{{ el.criteriaName }}</td>
                <td>{{ el.description }}</td>
                <td> <span class="pull-right"><i class="material-icons">edit</i><i class="material-icons">delete</i></span> </td>
              </tr>
            </tbody>
          </table>


          <!-- <div class="table-responsive">
              <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      
                 
                  <ng-container matColumnDef="no">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                    <td mat-cell *matCellDef="let element;let i=index"> {{i+1}} </td>
                  </ng-container>

                  <ng-container matColumnDef="criteriaName">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Criteria Name. </th>
                      <td mat-cell *matCellDef="let element"> {{element.criteriaName}} </td>
                    </ng-container>

                      <ng-container matColumnDef="description">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
                          <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                        </ng-container> 

                
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            
            </div> -->

        </mat-card>
      </div>


      <!-- <mat-tab-group class="padd-15" [selectedIndex]="0" >
            <mat-tab label="Add Criteria" class="mat-tab-label mat-ripple ng-star-inserted mat-tab-label-active" >
               
            </mat-tab>
            <mat-tab class="padd-15" label="View Criteria" >
                <div class="col-sm-12 card-content" >
           
              </div>
            </mat-tab>

           
        </mat-tab-group> -->
      <!-- <button (click)="previousStep()">
            Previous
          </button>
        <button (click)="nextStep()">
            Next
          </button> -->

    </div>
  </mat-tab>

  <!-- <mat-tab label="Entity">

      <mat-tab-group style="padding: 15px;">
          <mat-tab label="Add Entity">
              <div class="col-sm-6" style="padding:20px;">
                  <form [formGroup]="addEntityForm" (ngSubmit)="addFormSubmit(addEntityForm)">
            
                    <mat-card>
                    <mat-form-field class="col-xs-12">
                      <input matInput placeholder="Entity Name" formControlName="entityName">
                    </mat-form-field>
            
                    <mat-form-field class="col-xs-12">
                      <input matInput placeholder="District Id" formControlName="districtId">
                    </mat-form-field>
                    <mat-form-field class="col-xs-12">
                      <input matInput placeholder="District Name" formControlName="districtName">
                    </mat-form-field>
            
                    <mat-form-field class="col-xs-12">
                      <input matInput placeholder="Zone Id" formControlName="zoneId">
                    </mat-form-field>
                    <mat-form-field class="col-xs-12">
                      <input matInput placeholder="Name" formControlName="name">
                    </mat-form-field>
                    <mat-form-field class="col-xs-12">
                      <input matInput placeholder="Types" formControlName="types">
                    </mat-form-field>
                    <mat-form-field class="col-xs-12">
                      <input matInput placeholder="Address Line1" formControlName="addressLine1">
                    </mat-form-field>
                    <mat-form-field class="col-xs-12">
                      <input matInput placeholder="City" formControlName="city">
                    </mat-form-field>
                    <mat-form-field class="col-xs-12">
                      <input matInput placeholder="Pincode" formControlName="pincode">
                    </mat-form-field>
                    <mat-form-field class="col-xs-12">
                      <input matInput placeholder="State" formControlName="state">
                    </mat-form-field>
            
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </mat-card>
                  </form>
                </div>
            

    </mat-tab>
    <mat-tab label="View Entitys">
        <div class="col-sm-12" style="padding:20px;">
      <mat-card>
         
              <ul>
                <li *ngFor="let el of entitys">
                  {{ el }}
                </li>
              </ul>
            
      </mat-card>
    </div>
      </mat-tab>
  </mat-tab-group>

    
  </mat-tab> -->
  <mat-tab label="Questions">

    <mat-card style="    float: left;
    width: 98%;
    margin: 15px;">
      <div class="form-group" class="col-sm-6" style="padding: 36px;">
        <!-- <label for="sel1">Select Criteria:</label> -->
        <!-- <select class="form-control" id="sel1" [(ngModel)]="selectedCriteriaOfqtn">
            <option *ngFor="let ele of criteria" value="{{ ele.criteriaName }}">{{ ele.criteriaName }}</option>
          </select> -->

        <mat-form-field>
          <mat-label>Select Criteria</mat-label>
          <mat-select>
            <mat-option *ngFor="let ele of criteria" [value]="ele.criteriaName">
              {{ele.criteriaName }}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>
      <div class="col-sm-12" style="padding:30px">
        <form-builder class="col-sm-12" [form]="form" (change)="onChange($event)" options="formioOptions">
        </form-builder>
      </div>

      <!-- <div id="fb-editor"></div> -->

    </mat-card>
    <!-- <div  class="btn btn-primary pull-right" (click)="saveQuestions()">Save Questions</div>   -->


  </mat-tab>
  <!-- <mat-tab label="Map"> 
      <div class="col-sm-6" style="padding:20px">
          <div class="form-group" class="col-sm-12" >
            <label for="sel1">Select solutions</label>
            <select class="form-control col-sm-10" id="sel1" [(ngModel)]="selectedSolution">
              <option *ngFor="let item of solutions">{{ item.name }}</option>
    
            </select>
          </div>
          <div *ngIf="criteria.length > 0" style="padding:20px;padding-left: 20px;padding-top:40px;">
            <div class="col-sm-11" style="padding-left: 0px;">
              <label for="sel1">Select Criteria</label>
              <angular2-multiselect [data]="criteria" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
                (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)"
                (onDeSelectAll)="onDeSelectAll($event)">
                <c-item>
                  <ng-template let-item="item">
                    <label style="color: #333;min-width: 150px;">{{item.criteriaName}}</label>
                  </ng-template>
                </c-item>
              </angular2-multiselect>
            </div>
          </div>
        </div>
  </mat-tab> -->
</mat-tab-group>

<div class="col-sm-12 text-center">

  <!-- <div class="btn btn-primary pull-right">Save</div> -->
  <!-- <div class="btn btn-primary pull-right" (click)="showJson()">Show JSON </div> -->

  <button class="btn btn-primary" *ngIf="saveBtn"  style="margin-right:10px;">
    Save
  </button>
  <button class="btn btn-primary" *ngIf="previous" (click)="previousStep()" style="margin-right:10px;">
    Previous
  </button>
  <button class="btn btn-primary" *ngIf="next" (click)="nextStep()">
    {{ nextBtn }}
  </button>

</div>


<div class="col-sm-12" *ngIf="showJsonInfo">
  <div class="well jsonviewer">
    <pre><code class="language-json" >{{ criteriaString }}</code> </pre>
    <pre id="json"><code class="language-json"> {{ solutionString }}</code></pre>
  </div>
</div>

<div class="well jsonviewer" *ngIf="showQuestions">
  <pre id="json"><code class="language-json" #json></code></pre>
</div>


<div style="width: 46%;
  margin: auto;">
  <!-- <formio *ngIf="showQuestions" [form]="Data"></formio> -->

</div>
</div>
</div>
</div>
