@import '../../../../assets/scss/varibles.scss';
table {
    width: 100%;
  }

.font{
    font-style: $regular-font;
}

.active{
    border-radius: 12px; 
    border:1px solid $primary-color; 
    padding:2px 8px; 
    background-color: #e5f2fe; 
    cursor: pointer;
}

.margin{
    margin-bottom: 15px;
}
.textOverflow{
    overflow: hidden;
    text-overflow: ellipsis;
}
.flexRight{
    display: flex;
    justify-content: flex-end;
}
.complete{
    border-radius: 12px; 
    border:1px solid green; 
    padding:2px 8px; 
    background-color:green;
    color : white;
}


.search{
    padding: 0px 15px;
}

.capitalise{
    text-transform: capitalize;
}
.heading{
    margin-top:8px;
    margin-bottom: 0px;
}
.spaceBetween{
    display:flex;
    justify-content: space-between;
}
example-button-row button,
.example-button-row a {
  margin-right: 8px;
}


.middle{
   padding: 30vh 0 0 40%;
}


.example-container {
    height: calc(100vh - 210px) !important;
  }
.tableContainer{
    height: calc(100vh - 260px) !important;
    overflow: auto;
}
.mat-paginator-sticky {
    bottom: 0px;
    position: sticky;
    z-index: 10;
  }