<app-loader></app-loader>

<div *ngIf="!error">
    <app-parent-heading [genericHeading]="headings" [atleastOneComplete]="atleastOneComplete" [schoolName]="schoolName"
        (sendMarkAsComplete)="parentInterviewSubmit($event)"></app-parent-heading>
    <div *ngIf="result != 0 " class="bigTabel">
        <mat-form-field [floatLabel]="'never'" class="contentMiddle _full-width">
            <input class="filterInput" matInput (keyup)="applyFilter($event.target.value)" placeholder="{{'search'| translate}}">
        </mat-form-field>
        <div class="example-container mat-elevation-z8">
            <div class="tableContainer">
                <table mat-table [dataSource]="dataSource" class="contentMiddle">

                    <ng-container matColumnDef="studentName">
                        <th mat-header-cell *matHeaderCellDef> {{'tableLabel.studentName'| translate}}</th>
                        <td mat-cell *matCellDef="let element"><span class="capitalise"> {{element.studentName}} </span></td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef>{{'tableLabel.name'| translate}}</th>
                        <td mat-cell *matCellDef="let element"><span class="capitalise"> {{element.name}} </span></td>
                    </ng-container>

                    <ng-container matColumnDef="phone1">
                        <th mat-header-cell *matHeaderCellDef>{{'tableLabel.phone'| translate}}</th>
                        <td mat-cell *matCellDef="let element"> {{element.phone1}} </td>
                    </ng-container>

                    <ng-container matColumnDef="gender">
                        <th mat-header-cell *matHeaderCellDef>{{'tableLabel.gender'| translate}}</th>
                        <td mat-cell *matCellDef="let element">
                            <span *ngIf=" element.gender == 'M' ; else female">Male</span>
                            <ng-template #female>Female</ng-template>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="address">
                        <th mat-header-cell *matHeaderCellDef>{{'tableLabel.address'| translate}}</th>
                        <td mat-cell *matCellDef="let element"><span class="capitalise"> {{element.address}} </span></td>
                    </ng-container>

                    <ng-container matColumnDef="grade">
                        <th mat-header-cell *matHeaderCellDef>{{'tableLabel.grade'| translate}}</th>
                        <td mat-cell *matCellDef="let element">
                            <!-- <span class="spaceBetween"> -->
                            <span class="capitalise">{{element.grade}}</span>
                            <!-- <span class="spaceBetween">
                                    <span class="active" [routerLink]="['/parent/parent-edit' ,schoolName, element._id ]">
                                        {{'tableLabel.buttons.edit'| translate}}
                                    </span>

                                    <span *ngIf=" !(element.callResponse == 'R7') ; else complete" class="active" [routerLink]="['/parent/survey' , schoolId , element._id ]">
                                        {{'tableLabel.buttons.startSurvey'| translate}}
                                    </span>
                                    <ng-template #complete>
                                            <span  class="complete">
                                                    {{'tableLabel.buttons.complete'| translate}}
                                            </span>
                                        </ng-template>
                                </span> -->
                            <!-- </span> -->
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="programId">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let element"> <span class="active" [routerLink]="['/parent/parent-edit' ,schoolName, element._id ]">
                                {{'tableLabel.buttons.edit'| translate}}

                            </span></td>
                    </ng-container>

                    <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let element">
                            <span *ngIf=" !(element.callResponse == 'R7') ; else complete" class="active" [routerLink]="['/parent/survey' , schoolName, schoolId , element._id ]">
                                {{'tableLabel.buttons.startSurvey'| translate}}
                            </span>
                            <ng-template #complete>
                                <span class="complete">
                                    {{'tableLabel.buttons.complete'| translate}}
                                </span>
                            </ng-template>
                        </td>
                    </ng-container>



                    <tr mat-header-row class=" mat-header-sticky" *matHeaderRowDef="displayedColumns ; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
            <mat-paginator class=" mat-paginator-sticky" [pageSizeOptions]="[100,50,500]" showFirstLastButtons></mat-paginator>

        </div>
    </div>
    <div *ngIf=" result > 0  && parentList " class="_responsiveTabel ">
        <div *ngFor="let parent of parentList" class=" margin">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="textOverflow">
                        Name : {{parent.name}}
                    </mat-panel-title>
                    <mat-panel-description class="textOverflow">
                        Student Name: {{parent.studentName}}
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div *ngFor="let key of objectKeys(parent)">
                    <div *ngIf="key == 'phone1' || key == 'address' || key == 'grade'">
                        {{key | camelcase}} : {{parent[key]}}
                    </div>
                </div>
                <span class="flexRight">
                        <span class="active" [routerLink]="['/parent/parent-edit' ,schoolName, parent._id ]">
                            {{'tableLabel.buttons.edit'| translate}}
                        </span>

                    <span *ngIf=" !(parent.callResponse == 'R7') ; else complete" class="active" [routerLink]="['/parent/survey' , schoolName, schoolId , parent._id ]">
                        {{'tableLabel.buttons.startSurvey'| translate}}
                    </span>
                    <ng-template #complete>
                        <span class="complete">
                            {{'tableLabel.buttons.complete'| translate}}
                        </span>
                    </ng-template>
                </span>
            </mat-expansion-panel>
        </div>
    </div>

    <div *ngIf="!result">
        <div class="middle">
            {{'message.noData' | translate}}
        </div>
    </div>
</div>