@import '../../../../assets/varibles.scss';
table {
    width: 100%;
  }

.font{
    font-style: $regular-font;
}
.active{
    border-radius: 12px; 
    border:1px solid $primary-color; 
    padding:2px 8px; 
    background-color: #e5f2fe; 
    cursor: pointer;
    margin-right: 25px;
}
.filterInput{
    padding-left: 25px;
}
.search{
    padding: 0px 15px;
}

.capitalise{
    text-transform: capitalize;
}
.heading{
    margin-top:8px;
    margin-bottom: 0px;
}
.spaceBetween{
    display:flex;
    justify-content: space-between;
}
example-button-row button,
.example-button-row a {
  margin-right: 8px;
}