@import '../../../../assets/varibles.scss';
table {
    width: 100%;
  }
// .contentMiddle{
//     width: 80%;
//     margin : 2% 0 0 10%;
// }
// .mat-form-field {
//     font-size: 15px;
//     width: 75%;
// }
.font{
    font-style: $regular-font;
}
.active{
    border-radius: 12px; 
    border:1px solid $primary-color; 
    padding:2px 8px; 
    background-color: #e5f2fe; 
    cursor: pointer;
    margin-right: 25px;
}
.filterInput{
    padding-left: 25px;
}
.search{
    padding: 0px 15px;
}

.capitalise{
    text-transform: capitalize;
}

.spaceBetween{
    display:flex;
    justify-content: space-between;
}
example-button-row button,
.example-button-row a {
  margin-right: 8px;
}