<div class="criteriaModal" *ngIf="questionGeneralGroup">
  <h1 mat-dialog-title class="spaceBetween">
    <div class="heading">
      {{'message.customizeQuestion' |translate }}
    </div>
    <i class="material-icons crossIcon" (click)="onCancel()">
      close
    </i>
  </h1>

  <div mat-dialog-actions class="inlineBlock">
    <div class="customizeQuestion">
      <mat-accordion>
        <mat-expansion-panel class="_margin">
          <mat-expansion-panel-header>
            <mat-panel-title>
              General
            </mat-panel-title>
            <mat-panel-description>
              Click on panel to edit
            </mat-panel-description>

          </mat-expansion-panel-header>

          <app-dynamic-form (editnewquestion)="editQuestion($event)"[genericData]="questionGeneralArray" [genericForm]="questionGeneralGroup"></app-dynamic-form>

        </mat-expansion-panel>
       
        <mat-expansion-panel class="_margin" *ngIf="questionGeneralArray[4].value == 'radio' ">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Choices
            </mat-panel-title>
            <mat-panel-description>
              Click on panel to edit
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="col-sm-12 _full-width _flex-box _justify-content-center" *ngFor="let option of questionChoicesArray;let i = index">
            <mat-form-field class=" col-sm-6 fixSize _halfWidth">
              <input matInput placeholder="Label {{i+1}}" value="{{option.label}}" (ngModelChange)="checkValidation1($event)"
                [(ngModel)]="option.label">
            </mat-form-field>

            <mat-form-field class=" col-sm-5 fixSize _halfWidth">
              <input matInput placeholder="Value {{i+1}}" value="{{option.value}}" (change)="checkValidation(i)"[(ngModel)]="option.value">
            </mat-form-field>
            <button *ngIf="optionCount > 1" mat-raised-button (click)="removeOptions(i)" color="warn" class="col-sm-1">
                <i class="material-icons white">
                    close
                    </i>
              </button>
          </div>


          <button mat-raised-button (click)="pushOptions()" class="_primary-btn btn-margin">
              
          {{'buttons.addNew'| translate}}
          <i class="material-icons">
              add
              </i>
        </button>

        <button mat-raised-button *ngIf="optionCount > 1"(click)="resetAllOption()" color="warn" [disabled]=" optionCount<2" class="btn-margin">
              
            {{'buttons.removeAll'| translate}}
            <i class="material-icons white">
                delete_forever
                </i>
          </button>
          
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="buttonFooter">
      <div class="submitButton">
        {{data.responseType}}
        <button mat-raised-button class="margin" (click)="onCancel()">{{'buttons.cancel' | translate }}</button>
        <button mat-raised-button (click)="onUpdate()" [disabled]="choicesSecionInvalid ||!(questionGeneralGroup.valid)" class="btns _primary-btn margin">
          {{'buttons.update' | translate }}</button>
      </div>
    </div>
  </div>
</div>