<div class="criteriaModal" *ngIf="questionGeneralGroup">
  <h1 mat-dialog-title class="spaceBetween">
    <div class="heading">
      {{'message.customizeQuestion' |translate }}
    </div>
    <i class="material-icons crossIcon" (click)="onCancel()">
      close
    </i>
  </h1>

  <div mat-dialog-actions class="inlineBlock">
    <div class="customizeQuestion">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              General
            </mat-panel-title>
            <mat-panel-description>
              Click on panel to edit
            </mat-panel-description>

          </mat-expansion-panel-header>

          <app-dynamic-form [genericData]="questionGeneralArray" [genericForm]="questionGeneralGroup"></app-dynamic-form>

        </mat-expansion-panel>
       
        <mat-expansion-panel *ngIf="questionGeneralArray[4].value == 'radio' ">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Choices
            </mat-panel-title>
            <mat-panel-description>
              Click on panel to edit
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div *ngFor="let option of questionChoicesArray;let i = index">
            <mat-form-field class=" col-sm-6 fixSize _halfWidth">
              <input matInput placeholder="Label" value="{{option.label}}" (ngModelChange)="checkValidation(i)"
                [(ngModel)]="option.label">
            </mat-form-field>

            <mat-form-field class=" col-sm-6 fixSize _halfWidth">
              <input matInput placeholder="Value" value="{{option.value}}" (keypress)="checkValidation(i)"[(ngModel)]="option.value">
            </mat-form-field>

          </div>
          <button mat-icon-button (click)="pushOptions()">
              <i class="material-icons">
                  add
                  </i>
          </button>
          
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="buttonFooter">
      <div class="submitButton">
        {{data.responseType}}
        <button mat-raised-button class="margin" (click)="onCancel()">{{'buttons.cancel' | translate }}</button>
        <button mat-raised-button (click)="onUpdate()" [disabled]="choicesSecionInvalid ||!(questionGeneralGroup.valid)" class="btns _primary-btn margin">
          {{'buttons.update' | translate }}</button>
      </div>
    </div>
  </div>
</div>