// .example-container {
//     width: 400px;
//     max-width: 100%;
//     margin: 0 25px 25px 0;
//     display: inline-block;
//     vertical-align: top;
//   }
  
//   .example-list {
//     border: solid 1px #ccc;
//     min-height: 60px;
//     background: white;
//     border-radius: 4px;
//     overflow: hidden;
//     display: flex;
//   }
  
//   .example-box {
//     padding: 20px 10px;
//     border-bottom: solid 1px #ccc;
//     color: rgba(0, 0, 0, 0.87);
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     justify-content: space-between;
//     box-sizing: border-box;
//     cursor: move;
//     background: white;
//     font-size: 14px;
//   }
  
//   .cdk-drag-preview {
//     box-sizing: border-box;
//     border-radius: 4px;
//     box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
//                 0 8px 10px 1px rgba(0, 0, 0, 0.14),
//                 0 3px 14px 2px rgba(0, 0, 0, 0.12);
//   }
  
//   .cdk-drag-placeholder {
//     opacity: 0;
//   }
  
//   .cdk-drag-animating {
//     transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
//   }
  
//   .example-box:last-child {
//     border: none;
//   }
  
//   .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
//     transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
//   }
  


.questionGroup{
    // display: flex;
    width:200px;
    padding: 10px;
    // border: 1px solid #bababa;
    border-radius: 5px;
//    height: calc(100vh - 52px);
    height:100%;
    // align-items: center;
}
.editQuestion{
    width: calc(100% - 200px);
    height: calc(100vh - 95px);
    border-right: 1px solid #bababa;
    // height:100%;
    padding: 20px;
}

.questionButton{
    padding:10px;
    cursor: pointer;
    display: flex;
    align-items: inherit;
    margin : 10px 10px ;
    border-bottom: 1px solid #bababa;
}
.labelQuestion{
    margin: 0px 10px;
}
.wrapper{
    display: flex;
    // align-items: center;
    margin: 20px;
    border-radius: 10px;
    border: 1px solid#bababa;
}
.placeCenter{
    display: flex;
    align-items: center;
    justify-content: center;
}
.responsiveAddQuestion{
    display: none;
}

.responsive-container {
    height:  -webkit-fill-available;
  }
  
  .responsive-sidenav-content {
    display: flex;
    height: auto;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .responsive-sidenav {
    padding: 20px;
  }
  