<app-parent-heading [genericHeading]="headings" [schoolNameDivider]=false></app-parent-heading>
<div class="wrapper bigScreenAddQuestion">
  <div class="editQuestion">
    <app-question-workspace [newQuestionArray]="newQuestionArray"></app-question-workspace>
  </div>
  <div class="questionGroup">
    <app-question-type-list (sendQuestionObject)="catchQuestionObject($event)"></app-question-type-list>
  </div>
</div>
<mat-drawer-container class="responsive-container responsiveAddQuestion" autosize>
  <mat-drawer #drawer class="responsive-sidenav" mode="push">
    <app-question-type-list (sendQuestionObject)="catchQuestionObject($event)"></app-question-type-list>
  </mat-drawer>
  <div class="responsive-sidenav-content">
    <button class="addQuestionType" type="button" mat-button (click)="drawer.toggle()">
      <i class="material-icons">
        menu
      </i>
    </button>
    <div class="placeCenter">
      <app-question-workspace [newQuestionArray]="newQuestionArray"></app-question-workspace>
    </div>
  </div>
</mat-drawer-container>