@import '../../../../../assets/scss/varibles.scss';
.questionGroup{
    width:220px;
    padding: 20px;
    border-radius: 5px;
    height:100%;
    overflow-y: auto;

}
.editQuestion{
    width: calc(100% - 200px);
    border-right: 1px solid $grey-color ;
    padding: 20px;
    overflow:auto;
}


.wrapper{
    display: flex;
  height: calc(100vh - 145px);

    margin: 20px;
    border-radius: 10px;
    border: 1px solid $grey-color;
}
.placeCenter{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.responsiveAddQuestion{
    display: none;
}

.responsive-container {
    height:  -webkit-fill-available;
    overflow: auto;
    width: 100%;
  }
  
  .responsive-sidenav-content {
    height: 100%;
    width: 100%;
    overflow: auto;
  }
  
  .responsive-sidenav {
    padding: 20px;
  }
  .addQuestionType{
    position: absolute;
    left: 20px;
    top: 20px;
    margin: 20px;
    z-index: 1;
  }
  

 
  