<div class="col-sm-12">
  <mat-card style="float: left;margin:20px;width: 100%">
    <h3>Coming Soon ...</h3>
  </mat-card>
</div>
<div class="col-sm-12" *ngIf="review">

    <ng-template #callAPIDialog>
        <h2 matDialogTitle>Questions List</h2>
        <!-- <div class="col-sm-12"></div> -->
        <div class="col-sm-12">
            <li *ngFor="let item of questionList">{{ item }}</li>
        </div>
        <div class="col-sm-12">
        <mat-dialog-actions align="end">
            <button mat-button matDialogClose="no">No</button>
            <button mat-button matDialogClose="yes">Yes</button>
        </mat-dialog-actions>
        </div>
    </ng-template>

  <div class="col-sm-12 " style="padding: 20px 20px 0px 20px"><mat-card> <h4 class="text-center"> Solution Details </h4> </mat-card></div>

  <div class="col-sm-12 padd20" >
    <mat-accordion>
      <mat-expansion-panel *ngFor="let ele of solutionDetails">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="col-sm-12"> {{ ele.name }} </div>
          </mat-panel-title>
          <mat-panel-description>
            <div class="col-sm-12"><div class="col-sm-4">solution Details</div> <div class="col-sm-2"> {{ ele.status }} </div> <div class="col-sm-6" *ngIf="ele.status=='Pending'"> <button class="btn btn-primary mrgn-right-10" > Approve </button> <button class="btn btn-danger"> Reject </button>
               <!-- <md-button class="md-accent md-raised">Raised and Accent Button</md-button> -->
               </div> </div>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <table mat-table [dataSource]="ele.data" class="mat-elevation-z8">
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element" > {{element.name}} </td>
          </ng-container>
          <ng-container matColumnDef="L1">
            <th mat-header-cell *matHeaderCellDef> L1 </th>
            <td mat-cell *matCellDef="let element" > {{element.l1}} </td>
          </ng-container>
          <ng-container matColumnDef="L2">
            <th mat-header-cell *matHeaderCellDef> L2 </th>
            <td mat-cell *matCellDef="let element"> {{element.l2}} </td>
          </ng-container>
          <ng-container matColumnDef="L3">
            <th mat-header-cell *matHeaderCellDef> L3 </th>
            <td mat-cell *matCellDef="let element"> {{element.l3}} </td>
          </ng-container>
          <ng-container matColumnDef="L4">
            <th mat-header-cell *matHeaderCellDef> L4 </th>
            <td mat-cell *matCellDef="let element"> {{element.l4}} </td>
          </ng-container>
          <ng-container matColumnDef="createdBy">
            <th mat-header-cell *matHeaderCellDef> Created By </th>
            <td mat-cell *matCellDef="let element" > {{element.createdBy}} </td>
          </ng-container>
          <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef> Action</th>
            <td mat-cell *matCellDef="let element" (click)="openDialog()"> <button class="btn btn-primary">View Questions</button> </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    
        <!-- <mat-form-field>
          <input matInput placeholder="First name">
        </mat-form-field>
     -->
        <!-- <mat-form-field>
          <input matInput placeholder="Age">
        </mat-form-field> -->
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>



