
<div>
  <h3 style="text-align: center;">{{configdata.title}} Listing</h3>
</div>
<div *ngIf = "configdata.search">
  <mat-form-field class="search">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>
<div class="col-sm-12">
  <div class="col-sm-12 mat-elevation-z8 noPadd">
    <mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
      <ng-container *ngFor="let column of finaldisplaycolummns" matColumnDef="{{column.name}}">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{column.label}} </mat-header-cell>
        <mat-cell  *matCellDef="let element">
          <span *ngIf="column.name!='action'"> {{element[column.name]}} </span>
          <span *ngIf="column.name =='action'">
            <i class="material-icons actioncolor action cursor-pointer"(click)="editData(element)" style="padding-left: 5em;" title="Edit">edit</i>
            <i style="padding-left: 5px;" class="material-icons actioncolor action cursor-pointer"(click)="deleteData(element)" title="Delete">delete</i>
            <i style="padding-left: 5px;" class="material-icons actioncolor action cursor-pointer"(click)="reviewData(element)" title="Review">rate_review</i></span>

        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <!-- <mat-paginator #paginator [length]="totalFrameWorks" [showFirstLastButtons]="true"
      [pageSizeOptions]="[5,10,20,50,100]" class="col-sm-12" [pageSize]="pageSize" (page)="pagination($event)">
    </mat-paginator> -->
    <mat-paginator #paginator [length]="totalFrameWorks" [showFirstLastButtons]="true"
      [pageSizeOptions]="[5,10,20,50,100]" class="col-sm-12" [pageSize]="pageSize" (page)="pagination($event)" #paginator>
    </mat-paginator>
  </div>
</div>