<div  class="example-full-width alingCenterline  " >
  <h2 class="heading">
      <button *ngIf="genericHeading != 'headings.schoolListHeading'"mat-icon-button class="backButton"(click)="onBack()"><i class="material-icons backButton">
          keyboard_arrow_left
          </i></button>{{ genericHeading | translate}}
  </h2>
  <span *ngIf="genericHeading == 'headings.parentListHeading'"><button mat-raised-button  class=" btnColor "(click)="openDialog()">{{'buttons.markasComplete' | translate}}</button></span>
</div>
