<div class="modal-header">
    <button type="button" (click) = "close()" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
</div>
<h1 *ngIf="reviewdata" class="heading" mat-dialog-title>Review the Data</h1>
<h1 *ngIf="requestchanges" class="heading" mat-dialog-title>Request changes</h1>
<div *ngIf="reviewdata" mat-dialog-content>

    <div *ngFor="let data of data.name;let i =index">
        <div style="border: 1px solid;">
            <div>
                Question Number: {{i+1}}
            </div>
            <div> <label>label: {{data.question}}</label></div>
            <div> <label>Question Type: {{data.responseType}}</label></div>
            <div> <label> DateFormat: {{data.dateFormat}} </label></div>
            <div> <label> AllowAudioRecording: {{data.allowAudioRecording}}</label></div>
            <div> <label>AutoCapture: {{data.autoCapture}} </label></div>
            <div> <label>canBeNotApplicable: {{data.canBeNotApplicable}} </label></div>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-flat-button color="primary" mat-button (click)="requestChanges()">Request Changes</button>
        <button mat-flat-button color="primary" mat-button (click)="publishData(data.name)"
            cdkFocusInitial>publish</button>
    </div>

</div>

<div *ngIf="requestchanges" mat-dialog-content>
    <h3 class="heading">Please tick the reasons for requesting changes and provide detailed comments:</h3>
    <div>
        <!-- <form [formGroup]="showClassGrp" (ngSubmit)="onSubmit()"> -->
        <h3>Appropriateness</h3>
        <section *ngFor="let data of appropriateness">
            <mat-checkbox value="{{data.value}}" (change)="toggle($event)">{{data.item}}</mat-checkbox>
        </section>

    </div>

    <div>
        <h3>Content details</h3>
        <div>
            <mat-checkbox color="primary">Inappropriate Title or Description
            </mat-checkbox>
        </div>
        <div>
            <mat-checkbox color="primary">Incorrect Board, Grade, Subject or Medium
            </mat-checkbox>
        </div>
        <div>
            <mat-checkbox color="primary">Inappropriate tags such as Resource Type or Concepts
            </mat-checkbox>
        </div>
        <div>
            <mat-checkbox color="primary">Irrelevant Keywords</mat-checkbox>
        </div>
    </div>
    <div>
        <h3>Usability</h3>
        <div>
            <mat-checkbox color="primary">Content is NOT playing correctly
            </mat-checkbox>
        </div>
        <div>
            <mat-checkbox color="primary">CANNOT see the content clearly on Desktop and App
            </mat-checkbox>
        </div>
        <div>
            <mat-checkbox color="primary">Audio is NOT clear or NOT easy to understand
            </mat-checkbox>
        </div>
        <div>
            <mat-checkbox color="primary">Spelling mistakes found in text used</mat-checkbox>
        </div>
        <div>
            <mat-checkbox color="primary">Language is NOT simple to understand</mat-checkbox>
        </div>
    </div>
    <div>
        <div>
            <mat-checkbox color="primary">Other Issue(s) (if there are any other issues, tick this and provide details
                in
                the comments box)</mat-checkbox>
        </div>
        <div class="col-md-12">
            <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Leave a comment"></textarea>
            </mat-form-field>
        </div>
    </div>
    <!-- </form> -->

    <div mat-dialog-actions>
        <button mat-flat-button color="primary" mat-button (click)="requestChanges()">Request Changes</button>
        <button mat-flat-button color="primary" mat-button (click)="cancelRequestChanges()"
            cdkFocusInitial>Cancel</button>
    </div>
</div>