@import '../../../../assets/varibles.scss';
table {
    width: 100%;
  }
.heading{
    margin-top: 7px;
    margin-bottom: 0px;
}
.capitalise{
    text-transform: capitalize;
}
.filterInput{
    padding-left: 25px;
}
.search{
    padding: 0px 15px;
}
.active{
    border-radius: 12px; 
    border:1px solid $primary-color; 
    padding:2px 8px; 
    background-color: #e5f2fe; 
    cursor: pointer;
}

.spaceBetween{
    display:flex;
    justify-content: space-between;
}