<mat-form-field class="contentMiddle _full-width">
  <input class="filterInput" matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
</mat-form-field>
<!-- <i class="material-icons search">search</i> -->

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 contentMiddle">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"><span class="capitalise"> {{element.name}} </span></td>
  </ng-container>

  <!-- <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef> Address </th>
      <td mat-cell *matCellDef="let element"> {{element.addressLine2}} </td>
    </ng-container> -->
  <ng-container matColumnDef="city">
    <th mat-header-cell *matHeaderCellDef> City </th>
    <td mat-cell *matCellDef="let element"> {{element.city}} </td>
  </ng-container>
  <ng-container matColumnDef="state">
    <th mat-header-cell *matHeaderCellDef> State </th>
    <td mat-cell *matCellDef="let element"> {{element.state}} </td>
  </ng-container>
  <ng-container matColumnDef="externalId">
    <th mat-header-cell *matHeaderCellDef> External - Id </th>
    <td mat-cell *matCellDef="let element">
      <span class="spaceBetween">
        <span>{{element.externalId}}</span>
        <span class="active" [routerLink]="['/parent/parent-list' , element._id ]">Click Here</span>
      </span>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns ; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>