
import { KeycloakConfig } from 'keycloak-angular';


const base_url = 'APP_BASE_URL';
const apibaseurl = 'API_BASE_URL'; //Fully qualified domain name.
const downloadReportHeaderLabel = 'internal-access-token';
const downloadReportHeaderValue = 'TOKEN';
let keycloakConfig: KeycloakConfig = {
  url: base_url + '/auth',
  realm: 'KEYCLOAK_REALM',
  clientId: 'KEYCLOAK_CLIENT_ID',
  "credentials": {
     "secret": "JWT_TOKEN"
   } 
};

export const environment = {
  production: false,
  keycloak: keycloakConfig,
  base_url: base_url,
  apibaseurl :apibaseurl,
  downloadReportHeaderLabel:downloadReportHeaderLabel,
  downloadReportHeaderValue:downloadReportHeaderValue,
};
