<div [formGroup]= "genericForm" *ngIf="genericForm">
    <mat-form-field class="example-full-width col-sm-12">
        <div class="form-group" >
            <input matInput type="text" placeholder="{{genericData.label}} " formControlName="{{genericData?.field}}"  required>
        </div>
    </mat-form-field>
    <!-- <span *ngIf = "genericData.validation.required">
        <span class="help-block" *ngIf="{'has-error' : genericForm?.get(genericData?.field)?.errors  && 
    (genericForm?.get(genericData?.field)?.touched || genericForm?.get(genericData?.field)?.dirty)}">

        <div *ngIf="!genericForm.get(genericData.field)?.valid" class=" right example-full-width col-sm-12">
        {{genericData.field}} &nbsp;is Required.
        </div>
    </span> 
    </span> -->

</div>


