<div class="_flex-box _justify-content-center wrapper">
  <div class="_full-width">
    <div *ngFor = "let frameWork of frameWorkList" class="flex-box">
      <mat-card  class ="frameWork"routerLink = "{{frameWork.anchorLink}}">
        <!-- <div class ="frameWork" [routerLink] = "['/parent']"> -->
        <p class="heading">{{frameWork.value|translate}}</p>
        <div class="description">
          {{frameWork.description|translate}}
        </div>
      </mat-card >

    </div>
  </div>
</div>