<div class="_flex-box _justify-content-center wrapper" style="position: relative">
  <div class="_full-width" style="position: relative !important">
      <router-outlet></router-outlet>

      <div class="row" style="margin-top: 5%">


        <div class="col-sm-4 ">
            <div class="col-sm-12">
                <i class="material-icons">
                  create
                  </i>
                  <h3 style=" margin-top: 0px;">Create Observations</h3>
                  <div class="col-sm-12 desc">
        
                    Description goes here ....
                    </div>
                    <div class="btn btn-primary" style="margin:10px;text-align:center">   Create </div>
                  </div>
  
        </div>
        <div class="col-sm-4">
            <div class="col-sm-12">
                <i class="material-icons">
                    create
                    </i>
                  <h3 style=" margin-top: 0px;">Create Institutional</h3>
                  <div class="col-sm-12 desc" >
        
                    Description goes here ....
                    </div>
  
                    <div class="btn btn-primary" style="margin:10px;text-align:center">Create</div>
                  </div>
  
        </div>
        <div class="col-sm-4">
            <div class="col-sm-12">
                <i class="material-icons">
                    create
                    </i>
                  <h3 style=" margin-top: 0px;">Create Individual</h3>
                  <div class="col-sm-12 desc" >
        
                    Description goes here ....
                    </div>
  
                    <div  class="btn btn-primary" style="margin:10px;text-align:center">Create</div>
                  </div>
  
        </div>
  
      </div>

  </div>
</div>