@import '../../../../assets/scss/varibles.scss';

.question{
    margin-top: 20px;
    min-height: 400px;
}
.spaceBetween{
    display: flex;
    justify-content: space-between;
}

.question-container {
    margin-top: 40px;
}

.questionFooter {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 80px;
    .btns {
        margin-right: 20px; 
        min-width: 100px;
    }
}
.adjust {
    margin-bottom: 20px
}
.btnColor{
    background-color: $primary-color;
    color :white;
}

.completedsurvey {
    color: $green-color;
    font-weight: 500;
    margin-left: 20px;
}