
<app-parent-information [parentId]="parentId" (callResponse)="setcallResponse($event)"></app-parent-information>
<div *ngIf="!error">
<mat-card class = "question">

    <div *ngFor="let ques of generalQuestion | slice:x:x+1">
        <div *ngFor="let question of ques.question ">
            {{question}}
        </div>
    
        <div class="spaceBetween">
            <button (click) = "previousQuestion()" >Back</button>
            <button (click) = "nextQuestion()" >Next</button>
        </div>
    </div>
</mat-card>
</div>
<div *ngIf="error">
    {{error.message}}
</div>
