<div class="col-sm-12 " [formGroup]= "genericForm"  *ngIf=" genericForm" >
  <div *ngFor="let data of genericData" >
    <app-dropdown-field *ngIf="data.input == 'radio' && data.visible " [genericData]="data" [genericForm]="genericForm" [genericEdit]= "genericEdit"></app-dropdown-field>
  
    <app-text-field *ngIf="data.input == 'text'  && data.visible " [genericData]="data" [genericForm]="genericForm" [genericEdit]= "genericEdit"></app-text-field>
    
    <app-textarea-field *ngIf="data.input == 'textarea'  && data.visible " [genericData]="data" [genericForm]="genericForm" [genericEdit]= "genericEdit"></app-textarea-field>
   
    <app-number-field *ngIf="data.input == 'number'  && data.visible " [genericData]="data" [genericForm]="genericForm" [genericEdit]= "genericEdit"></app-number-field>
    
    <app-select-field *ngIf="data.input == 'boolean'  && data.visible " [genericData]="data" [genericForm]="genericForm" [genericEdit]= "genericEdit"></app-select-field>

  </div> 


</div>