@import '../../../../assets/scss/varibles.scss';

.btnColor{
    background-color: $primary-color;
    color :white;
}
.alingCenterline{
    display: flex;
    align-items: center;
    justify-content: space-between;
}