.editHeader{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #bababa;
    justify-content: flex-end;
}
.headerItem{
    margin:5px 10px;
}
.centerPlace{
    display: flex;
    justify-content: center;
    align-items: center;
}
.question{
    display: inline;
    padding: 20px;
}
.paddingTop{
    padding: 10px 0px;
}