@import '../../../../assets/scss/varibles.scss';

.alingCenterline{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btnColor{
    background-color: $primary-color;
    color :white;
}
.alingCenterline{
    display:flex; 
    align-items:center;
    justify-content: space-between;
}
.heading{
    padding-bottom : 50px; 
}