@import '../../../../assets/varibles.scss';

.right{
    float: right;
}
.btnColor{
    background-color: $primary-color;
    color :white;
}
.alingCenterline{
    display:flex; 
    align-items:center;
    justify-content: space-between;
}
.heading{
    padding-bottom : 50px; 
}