    <div class="container-fluid">
  <div class="row completeDiv">
      <div class="headerDiv">
          <app-navbar></app-navbar>
          <app-responsive-navbar ></app-responsive-navbar>
          <mat-divider class="noMarginPadding"></mat-divider>
      </div>
      <div class="bodyDiv">
              
          <div class="sideDiv horizontalLine">
              <!-- <div *ngFor= "let results of obj.result"> 
                  <app-program-sidenav [result] = "obj" ></app-program-sidenav>
              </div> -->
              <div *ngIf="obj"> 
                    <app-program-sidenav  [result] = "obj" (program)="setCurrentAssessment($event)"></app-program-sidenav>
              </div>
          </div>
          <!-- blocks -- ------------------------------->
          <div class="container">
                <div class="ass-heading">Assessments</div>
              <div class="row">
                  <div class="col">
                      <ul class="unorder-list" >
                          <li *ngFor="let assessment of currentAssesssment; let i=index" class="icons">
                                <i class="material-icons" (click)="programClick(result?.assessments)">done</i>
                                <div class="context">
                                    {{assessment?.name}}
                                </div>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>   
      </div>
  </div>
</div>






