/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import "./assets/scss/varibles.scss";

// @import "~bootstrap/scss/bootstrap.scss";
// @import "~bootswatch/dist/pulse/_bootswatch.scss";
@import "../node_modules/angular2-multiselect-dropdown/themes/default.theme.css";

@import "../node_modules/font-awesome/css/font-awesome.css";

@font-face {
    font-family: 'SF-ui-text-regular';
    font-style: normal;
    font-weight: normal;
    src: url('assets/fonts/sf-ui-text-regular.woff') format('woff');
}
@font-face {
    font-family: 'SF-ui-text-light';
    font-style: normal;
    font-weight: normal;
    src: url('assets/fonts/sf-ui-text-light.woff') format('woff');
}

@font-face {
    font-family: 'SF-ui-text-italic';
    font-style: normal;
    font-weight: normal;
    src: url('assets/fonts/sf-ui-text-heavy-italic.woff') format('woff');
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/angularMaterial.woff2') format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: var(--regular-font) !important;

}

._flex-box {
    display: flex ;
    align-items: center
}
._flex-end{
    justify-content: flex-end;
}
._responsiveTabel{
    display: none;
    width: 100%;
}
._flex-direction-column {
    flex-direction: column;
}

._justify-content-center {
    justify-content: center;
}
.mat-snack-bar-container {
    max-width: 100% !important;
}


._justify-content-space-between {
    justify-content: space-between;
}

._flex-wrap {
    flex-wrap: wrap !important;
}

._full-width {
    width: 100%;
}

._cursor-pointer {
    cursor: pointer;
}

._green-btn {
    // background: $green-color;
    // color: $white-color;
    background: var(--green-color);
    color: var( --white-color);
}

._primary-btn {
    // background: $primary-color;
    // color: $white-color;
    background: var(--primary-color);
    color: var(--white-color);
}
span:focus {
    outline: none;
    border: 0;
 }
 ._contentMiddle{
    padding : 5px !important;
 }
 ._text-overflow-ellipsis{
     text-overflow: ellipsis !important;
     overflow: hidden !important;
     width:200px!important;
     white-space: nowrap!important;
 }
._margin{
    margin: 20px 20px !important;
}

.error-block {
    font-size: 12px;
    color: #dc3545;
    padding-bottom: 10px;
}


.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}
.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
    min-height: 284px;
}

.inline-edit {
	.mat-form-field-wrapper {
		.mat-form-field-underline {
			
				height: 0px !important;
			
		}
	}
}

.inline-edit:hover {
	.mat-form-field-wrapper {
		.mat-form-field-underline {
            height: 1px !important;
			
		}
	}
}
