.title{
    max-width: 300px;
    height:140px;
    display: flex;
    align-items: center;
    justify-content: center;
   
   
    
} 
mat-card-title{
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    border-radius: 5px;  
  
    
   
}

.posCentre{
    display: flex;
    align-items: center;
    height: calc(100vh - 94px) !important;
    justify-content: center;
}