@import '../../../../../assets/scss/varibles.scss';

.btnColor{
    background-color: $primary-color;
    color :white;
}
.inlineBlock{
    display: inline;
}
.margin {
    margin: 15px 0px 0px 10px;
}
.submitButton{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}