<h1 mat-dialog-title>{{'message.addCriteria' }}</h1>
<div mat-dialog-actions class="inlineBlock" *ngIf="criteriaGroup" >
  <div class="col-xs-12">
  <app-dynamic-form [genericData]="criteriaArray" [genericForm]="criteriaGroup" ></app-dynamic-form>

  </div>
  <div class="submitButton col-xs-12">
    <button mat-raised-button  class="margin" (click)="onCancel()">{{'buttons.cancel'  }}</button>
    <button mat-raised-button  (click)="onSubmit()"  class="btns _primary-btn margin"  [disabled]="!criteriaGroup.valid">
      {{'buttons.submit' }}</button>
  </div>  
 
</div>
