@import '../../../../../assets/scss/varibles.scss';

.btnColor{
    background-color: $primary-color;
    color :white;
}
.inlineBlock{
    display: inline;
}
.margin {
    margin: 15px 0px 0px 10px;
}
.submitButton{
   display: flex;
   bottom: 0;
   justify-content: flex-end;
    .btns {
        margin-right: 20px; 
        min-width: 100px;
    }
}
.criteriaForm{
    height:420px;
    overflow-x:hidden;
    overflow-y:  auto;
}
.buttonFooter{
    position: absolute;
    // bottom:50px;
    // right: 20;
    z-index: 1;
    width: 100%;
    height: 80px;
}

.criteriaModal{
    margin: -20px;
    max-height: 599px;
    max-width: 949px;
    position: relative;
}

    .crossIcon{
        color:$grey-color;
        cursor: pointer;
    }

.heading{
    margin: 20px;
}
.spaceBetween{
    display: flex;
    justify-content: space-between;
}
.stepperOne{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.middle{
    padding: 30vh 0 0 40%;
 }

 .bottomButton{
    position: fixed;
    bottom:20px;
    z-index: 1;
    width: calc(100% - 300px);
 }
 
 .nextButton{
    position: fixed;
    bottom:20px;
    z-index: 1;
    width: calc(100% - 300px);
 }

.flex-end{
    justify-content: flex-end;
}